<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="listForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/cuenta',listForm,'listCuenta')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonCuentaLista["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<!-- <mat-checkbox formControlName="activo" id="activo">{{jsonCuentaLista["properties"]["activo"]["description"]}}</mat-checkbox> -->
				<mat-form-field>
					<input matInput type="number" formControlName="activo" min="0" max="1" placeholder='{{jsonCuentaLista["properties"]["activo"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="page" value="1" min="1" placeholder='{{jsonCuentaLista["properties"]["page"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pageSize" value="10" min="1" placeholder='{{jsonCuentaLista["properties"]["pageSize"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="name" placeholder='{{jsonCuentaLista["properties"]["nombre"]["description"]}}'>
					<!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
					<!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error> -->
					<!-- <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!listForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="listCuenta" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="getForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/cuenta/'+getForm.value['id'],{},'detailCuenta')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonCuentaGet["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonCuentaGet["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="detailCuenta" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPost('/cuenta',createForm,'createCuenta')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonCuentaCreate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="estado_id" placeholder='{{jsonCuentaCreate["properties"]["estado_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="causa_retencion" placeholder='causa_retencion'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="datetime" formControlName="created_at" placeholder='created_at'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="razon_social" placeholder='razon social'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="organizacion_id" placeholder='{{jsonCuentaCreate["properties"]["organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="con_factura" placeholder='con_factura'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="tarjetahabiente" placeholder='tarjetahabiente'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="banco_id" placeholder='{{jsonCuentaCreate["properties"]["banco_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="datetime" formControlName="updated_at" placeholder='updated_at'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="sucursal_bancaria" placeholder='sucursal bancaria'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="cuenta" placeholder='cuenta'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pago_directo" placeholder='pago_directo'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pago_urgente" placeholder='pago_urgente'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="clabe" placeholder='clabe'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo" value="true"></mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!createForm.valid">Crear</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="createCuenta" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPut('/cuenta/'+updateForm.value['id'],updateForm,'updateCuenta')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonCuentaUpdate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonCuentaUpdate["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="estado_id" placeholder='{{jsonCuentaUpdate["properties"]["estado_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="causa_retencion" placeholder='causa_retencion'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="datetime" formControlName="created_at" placeholder='created_at'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="razon_social" placeholder='razon social'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="organizacion_id" placeholder='{{jsonCuentaUpdate["properties"]["organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="con_factura" placeholder='con_factura'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="tarjetahabiente" placeholder='tarjetahabiente'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="banco_id" placeholder='{{jsonCuentaUpdate["properties"]["banco_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="datetime" formControlName="updated_at" placeholder='updated_at'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="sucursal_bancaria" placeholder='sucursal bancaria'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="cuenta" placeholder='cuenta'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pago_directo" placeholder='pago_directo'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pago_urgente" placeholder='pago_urgente'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="clabe" placeholder='clabe'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo" value="true"></mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!updateForm.valid">Actualizar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="updateCuenta" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="deleteForm" autocomplete="off" novalidate (ngSubmit)="onSubmitDelete('/cuenta/'+deleteForm.value['id'],'deleteCuenta')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonCuentaDelete["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonCuentaDelete["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!deleteForm.valid">Eliminar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="deleteCuenta" class="response"></div>
	</div>
</div>
