<div class="grid-container">
	<div class="grid-request">
		<mat-card-title>{{jsonServicioTipoLista["description"]}}</mat-card-title>
		<br>
		<button mat-raised-button color="primary" (click)="onSubmitGet('/tipo-servicio',{},'listServiceType')">Consultar</button>
	</div>
	<div class="grid-response">
		<div id="listServiceType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPost('/tipo-servicio',createForm,'createServiceType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioTipoCreate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo"></mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!createForm.valid">Crear</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="createServiceType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="getForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/tipo-servicio/'+getForm.value['id'],{},'detailServiceType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioTipoGet["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonServicioTipoGet["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="detailServiceType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPut('/tipo-servicio/'+updateForm.value['id'],updateForm,'updateServiceType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioTipoUpdate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonServicioTipoUpdate["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo" value="true">Activo/Inactivo</mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!updateForm.valid">Actualizar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="updateServiceType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="deleteForm" autocomplete="off" novalidate (ngSubmit)="onSubmitDelete('/tipo-servicio/'+deleteForm.value['id'],'deleteServiceType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioTipoDelete["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonServicioTipoDelete["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!deleteForm.valid">Eliminar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="deleteServiceType" class="response"></div>
	</div>
</div>
