<div class="grid-container" *ngIf="this.paramsOption == 'list' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="listForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/organizacion',listForm,'listOrganization')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgLista["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="text" formControlName="rfc" placeholder='{{jsonOrgLista["properties"]["rfc"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="curp" placeholder='{{jsonOrgLista["properties"]["curp"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="organizacion_id" min="0" placeholder='{{jsonOrgLista["properties"]["organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="page" value="1" min="1" placeholder='{{jsonOrgLista["properties"]["page"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pageSize" value="10" min="1" placeholder='{{jsonOrgLista["properties"]["pageSize"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="tipo_organizacion_id" min="0" placeholder='{{jsonOrgLista["properties"]["tipo_organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="correo_electronico" placeholder='{{jsonOrgLista["properties"]["correo_electronico"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre_comercial" placeholder='{{jsonOrgLista["properties"]["nombre_comercial"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="activo" min="0" max="1" placeholder='{{jsonOrgLista["properties"]["activo"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!listForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="listOrganization" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'details' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="getForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/organizacion/'+getForm.value['id'],{},'detailOrganization')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgGet["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonOrgGet["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="detailOrganization" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'create' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPost('/organizacion',createForm,'createOrganization')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgCreate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<!-- <mat-form-field>
					<input matInput type="number" formControlName="organizacion_id" min="0" placeholder='{{jsonOrgCreate["properties"]["organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br> -->
				<mat-form-field>
					<input matInput type="number" formControlName="tipo_organizacion_id" min="0" placeholder='{{jsonOrgCreate["properties"]["tipo_organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="correo_electronico" placeholder='{{jsonOrgCreate["properties"]["correo_electronico"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre_comercial" placeholder='{{jsonOrgCreate["properties"]["nombre_comercial"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="comentario" placeholder='{{jsonOrgCreate["properties"]["comentario"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="rfc" placeholder='{{jsonOrgCreate["properties"]["rfc"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="curp" placeholder='{{jsonOrgCreate["properties"]["curp"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<!-- <mat-form-field>
					<input matInput type="number" formControlName="activo" min="0" max="1" placeholder='{{jsonOrgCreate["properties"]["activo"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br> -->
				<mat-checkbox formControlName="activo" value="true">{{jsonOrgCreate["properties"]["activo"]["description"]}}</mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!createForm.valid">Crear</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="createOrganization" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'update' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPut('/organizacion/'+updateForm.value['id'],updateForm,'updateOrganization')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgUpdate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<!-- <mat-form-field>
					<input matInput type="number" formControlName="organizacion_id" min="0" placeholder='{{jsonOrgUpdate["properties"]["organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br> -->
				<mat-form-field>
					<input matInput type="number" formControlName="tipo_organizacion_id" min="0" placeholder='{{jsonOrgUpdate["properties"]["tipo_organizacion_id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="correo_electronico" placeholder='{{jsonOrgUpdate["properties"]["correo_electronico"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre_comercial" placeholder='{{jsonOrgUpdate["properties"]["nombre_comercial"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="comentario" placeholder='{{jsonOrgUpdate["properties"]["comentario"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="rfc" placeholder='{{jsonOrgUpdate["properties"]["rfc"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="curp" placeholder='{{jsonOrgUpdate["properties"]["curp"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<!-- <mat-form-field>
					<input matInput type="number" formControlName="activo" min="0" max="1" placeholder='{{jsonOrgUpdate["properties"]["activo"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br> -->
				<mat-checkbox formControlName="activo" value="true">{{jsonOrgUpdate["properties"]["activo"]["description"]}}</mat-checkbox>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonOrgUpdate["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!updateForm.valid">Actualizar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="updateOrganization" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'delete' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="deleteForm" autocomplete="off" novalidate (ngSubmit)="onSubmitDelete('/organizacion/'+deleteForm.value['id'],'deleteOrganization')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgDelete["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonOrgDelete["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!deleteForm.valid">Eliminar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="deleteOrganization" class="response"></div>
	</div>
</div>
