<div class="grid-container" *ngIf="this.paramsOption == 'list' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="listForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/banco',listForm,'listBancos')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonBancoLista["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<!-- <mat-checkbox formControlName="activo" id="activo">{{jsonBancoLista["properties"]["activo"]["description"]}}</mat-checkbox> -->
				<mat-form-field>
					<input matInput type="number" formControlName="activo" min="0" max="1" placeholder='{{jsonBancoLista["properties"]["activo"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="page" value="1" min="1" placeholder='{{jsonBancoLista["properties"]["page"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pageSize" value="10" min="1" placeholder='{{jsonBancoLista["properties"]["pageSize"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="name" placeholder='{{jsonBancoLista["properties"]["nombre"]["description"]}}'>
					<!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
					<!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error> -->
					<!-- <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!listForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="listBancos" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'details' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="getForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/banco/'+getForm.value['id'],{},'detailBanco')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonBancoGet["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonBancoGet["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="detailBanco" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'create' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPost('/banco',createForm,'createBanco')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonBancoCreate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo" value="true">{{jsonBancoCreate["properties"]["activo"]["description"]}}</mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!createForm.valid">Crear</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="createBanco" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'update' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPut('/banco/'+updateForm.value['id'],updateForm,'updateBanco')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonBancoUpdate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonBancoUpdate["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo" value="true">{{jsonBancoUpdate["properties"]["activo"]["description"]}}</mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!updateForm.valid">Actualizar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="updateBanco" class="response"></div>
	</div>
</div>

<div class="grid-container" *ngIf="this.paramsOption == 'delete' || this.paramsOption == undefined">
	<div class="grid-request">
		<form [formGroup]="deleteForm" autocomplete="off" novalidate (ngSubmit)="onSubmitDelete('/banco/'+deleteForm.value['id'],'deleteBanco')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonBancoDelete["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonBancoDelete["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!deleteForm.valid">Eliminar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="deleteBanco" class="response"></div>
	</div>
</div>
