mat-form-field{
    width: 100%;
}
// mat-card-title{
//     text-align: center;
// }
div.response {
	background-color: #c7cad0;
	// margin-top: 15px;
	// max-height: 200px;
    height: 100%;
	overflow-y: scroll;
	width: 100%;
}
div.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
div.grid-request {
	grid-column: span 5;
	padding: 5px;
}
div.grid-response {
	grid-column: span 7;
	padding: 5px;
}
