<div class="grid-container">
	<div class="grid-request">
		<mat-card-title>{{jsonOrgTipoLista["description"]}}</mat-card-title>
		<br>
		<button mat-raised-button color="primary" (click)="onSubmitGet('/tipo-organizacion',{},'listOrgType')">Consultar</button>
	</div>
	<div class="grid-response">
		<div id="listOrgType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPost('/tipo-organizacion',createForm,'createOrgType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgTipoCreate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo"></mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!createForm.valid">Crear</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="createOrgType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="getForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/tipo-organizacion/'+getForm.value['id'],{},'detailOrgType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgTipoGet["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonOrgTipoGet["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="detailOrgType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPut('/tipo-organizacion/'+updateForm.value['id'],updateForm,'updateOrgType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgTipoUpdate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonOrgTipoUpdate["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo" value="true">Activo/Inactivo</mat-checkbox>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!updateForm.valid">Actualizar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="updateOrgType" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="deleteForm" autocomplete="off" novalidate (ngSubmit)="onSubmitDelete('/tipo-organizacion/'+deleteForm.value['id'],'deleteOrgType')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonOrgTipoDelete["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonOrgTipoDelete["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!deleteForm.valid">Eliminar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="deleteOrgType" class="response"></div>
	</div>
</div>
