<div class="grid-container">
	<div class="grid-request">
		<mat-card-title>{{jsonEstadoLista["description"]}}</mat-card-title>
		<br>
		<button mat-raised-button color="primary" (click)="onSubmitGet('/estado',{},'listEstados')">Consultar</button>
	</div>
	<div class="grid-response">
		<div id="listEstados" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="getMpForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/estado/'+getMpForm.value['id']+'/municipio',{},'listMp')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonMunicipioLista["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonMunicipioLista["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getMpForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="listMp" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="getCPForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/municipio/'+getCPForm.value['id']+'/cp',{},'listCP')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonCPLista["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonCPLista["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getCPForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="listCP" class="response"></div>
	</div>
</div>
