<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="listForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/servicio',listForm,'listService')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioLista["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<!-- <mat-checkbox formControlName="activo" id="activo">{{jsonBancoLista["properties"]["activo"]["description"]}}</mat-checkbox> -->
				<mat-form-field>
					<input matInput type="number" formControlName="activo" min="0" max="1" placeholder='{{jsonServicioLista["properties"]["activo"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="page" value="1" min="1" placeholder='{{jsonServicioLista["properties"]["page"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="pageSize" value="10" min="1" placeholder='{{jsonServicioLista["properties"]["pageSize"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="name" placeholder='{{jsonServicioLista["properties"]["nombre"]["description"]}}'>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="tipo_servicio_id" min="1" placeholder='{{jsonServicioLista["properties"]["tipo_servicio_id"]["description"]}}'>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!listForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="listService" class="response"></div>
	</div>
</div>


<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPost('/servicio',createForm,'createService')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioCreate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo"></mat-checkbox>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="tipo_servicio_id" min="1" placeholder='{{jsonServicioCreate["properties"]["tipo_servicio_id"]["description"]}}'>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!createForm.valid">Crear</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="createService" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="getForm" autocomplete="off" novalidate (ngSubmit)="onSubmitGet('/servicio/'+getForm.value['id'],{},'detailService')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioGet["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonServicioGet["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!getForm.valid">Consultar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="detailService" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="onSubmitPut('/servicio/'+updateForm.value['id'],updateForm,'updateService')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioUpdate["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonServicioUpdate["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-form-field>
					<input matInput type="text" formControlName="nombre" placeholder='nombre'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
				<mat-checkbox formControlName="activo" value="true">Activo/Inactivo</mat-checkbox>
				<br>
				<mat-form-field>
					<input matInput type="number" formControlName="tipo_servicio_id" min="1" placeholder='{{jsonServicioUpdate["properties"]["tipo_servicio_id"]["description"]}}'>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!updateForm.valid">Actualizar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="updateService" class="response"></div>
	</div>
</div>

<div class="grid-container">
	<div class="grid-request">
		<form [formGroup]="deleteForm" autocomplete="off" novalidate (ngSubmit)="onSubmitDelete('/servicio/'+deleteForm.value['id'],'deleteService')" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
			<mat-card-title>{{jsonServicioDelete["description"]}}</mat-card-title>
			<br>
			<mat-card-content>
				<mat-form-field>
					<input matInput type="number" formControlName="id" placeholder='{{jsonServicioDelete["properties"]["id"]["description"]}}'>
					<mat-hint align="end"></mat-hint>
				</mat-form-field>
				<br>
			</mat-card-content>
			<mat-card-actions align="center">
				<button mat-raised-button color="primary" [disabled]="!deleteForm.valid">Eliminar</button>
			</mat-card-actions>
		</form>
	</div>
	<div class="grid-response">
		<div id="deleteService" class="response"></div>
	</div>
</div>
